@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>

<p>Hello from our View Template!</p>